<script type='text/template' id='app_view_template'>
    <div>
        <div class="centered">Date : <%= date %> </div>
        <div class="d-flex justify-content-around">
            <div>
                <div class="col"></div>
            </div>
            <div>
                <div class="centered">Calorie : <%= calorieEaten %> / <%= calorieTarget %></div>
                <div>Carb : <%= nbCarb %></div>
                <div>Fat : <%= nbFat %></div>
                <div>Prot : <%= nbProt %></div>
                <canvas id="pieChart" width="300" height="400"></canvas>
            </div>
        </div>
    </div>

</script>
