<script type='text/template' id='app_view_template'>
    <div id="navigation-bar">
    </div>
    <div>
        <h3 class="centered">Date : <%= date %> </h3>
        <div class="d-flex justify-content-around align-items-center">
            <label for="date-picker">Date : </label>
            <input id="date-picker" name="date-picker" type="date" class="content-box" value="<%= date %>"/>
            <button class="change-date content-box">Change date</button>
        </div>
        <div id="mealDiv" class="d-flex justify-content-around flex-wrap">
            <div>
                <div class="col"></div>
            </div>
            <div class="centered content-box">
                <div>Calorie : <%= calorieEaten %> / <%= calorieTarget %></div>
                <div>Carb : <%= nbCarb %></div>
                <div>Fat : <%= nbFat %></div>
                <div>Prot : <%= nbProt %></div>
                <canvas id="pieChart" width="300" height="300"></canvas>
            </div>
        </div>
        <div id="todoDiv">
        </div>
        <div id="sleepDiv">
            Sleep div
        </div>
    </div>
</script>
