<!doctype html>
<html manifest="{{ url_for('main.manifest') }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Chart.min.css')}}">

    <title>Macro Count</title>
  </head>
  <body>
    <h1 class="centered">Macro Count !</h1>
    <div id="app"></div>

    {% include 'app_template.html' %}
    {% include 'meal_template.html' %}
    {% include 'meal_col_template.html' %}
    {% include 'meal_col_view_simple_template.html' %}
    {% include 'todo_view_template.html' %}

    <script src="{{ url_for('static', filename='js/lib/jquery-3.5.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/lib/underscore-min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/lib/backbone-min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/lib/backbone-localstorage.js')}}"></script>
    <script src="{{ url_for('static', filename='js/lib/Chart.min.js')}}"></script>


    <script src="{{ url_for('static', filename='js/module/app/model/Meal.js')}}"></script>
    <script src="{{ url_for('static', filename='js/module/app/model/MealCol.js')}}"></script>

    <script src="{{ url_for('static', filename='js/module/app/todo/Todo.js')}}"></script>
    <script src="{{ url_for('static', filename='js/module/app/todo/TodoCol.js')}}"></script>
    <script src="{{ url_for('static', filename='js/module/app/todo/TodoView.js')}}"></script>
    <script src="{{ url_for('static', filename='js/module/app/model/App.js')}}"></script>

    <script src="{{ url_for('static', filename='js/module/app/view/MealView.js')}}"></script>
    <script src="{{ url_for('static', filename='js/module/app/view/MealCOlView.js')}}"></script>
    <script src="{{ url_for('static', filename='js/module/app/view/MealColViewSimple.js')}}"></script>
    <script src="{{ url_for('static', filename='js/module/app/view/AppView.js')}}"></script>



    <script src="{{ url_for('static', filename='js/module/app.js')}}"></script>
  </body>
</html>
