<script type='text/template' id='meal_col_view_template'>
    <div class="new_one">Create new meal</div>
    <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new meal !</h5>
        <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
        <input id="name" name="name"/>
        <input id="fat" name="fat"/>
        <input id="prot" name="prot"/>
        <input id="carb" name="carb"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary add_meal_by_modal">Save changes</button>
        <button type="button" class="btn btn-secondary close_modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</script>
